#card-collegue {
  width: 20rem;
  margin-bottom: 10px;
  margin-left: 10px;
  max-width: 250px;
  padding-bottom: 10px
}

#img-col {
  height: 250px;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 2rem;
}

.btn-vote {
  float: left;
  margin-left: 30px;
}

#contenu {
  margin-top: 10px;
}

#head-col>a {
  z-index: 50;
}

#head-col>button {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 51
}
