<div class="row">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-4">
      <div class="input-group-addon">Limite</div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Limite" value="10" (keyup)="limit($event)">
  </div>
</div>

<div class="row" id="contenu">
  <div *ngFor="let col of collegues" class="card" id="card-collegue">
    <div id="head-col">
      <a routerLink="/detail/{{col.nom}}">
        <img id="img-col" class="card-img-top" src="{{col.url}}" alt="image collegue">
      </a>
      <button type="button" class="close" aria-label="Close" (click)="supprimer(col)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-block">
      <h4 class="card-title text-center">{{col.nom | uppercase}}</h4>
      <p class="card-text text-center"><strong [innerHTML]="col.score | score"></strong></p>
      <div class="btn-vote">
        <a (click)="jaime(col)" class="btn btn-outline-success">J'aime</a>
        <a (click)="jedeteste(col)" class="btn btn-outline-danger">Je déteste</a>
      </div>
    </div>
  </div>
</div>
