<div style="container">
  <div id="form-app">
    <div id="bandeau" class="container">
      <h1 class="display-4">Top Collègues</h1>
      <p id="description">Les meilleurs collègues du moment</p>
      <form action="">
        <div class="row">
          <label class="col-3">Pseudo</label>
          <input class="form-control col-9" id="pseudo_form" type="text" placeholder="Pseudo" #pseudo>
        </div>
        <div class="row top10">
          <label class="col-3">URL image</label>
          <input class="form-control col-9" id="url_form" type="text" placeholder="URL Image" #imageUrl>
        </div>
        <div class="row">
          <button id="save-btn" class="col" (click)="add(pseudo, imageUrl)" class="btn btn-primary top10" name="button">
            Ajouter un nouveau collègue
          </button>
          <ngb-alert class="col" *ngIf="afficherSucces" type="success" (close)="afficherSucces = false">
            Sauvegardé !
          </ngb-alert>
        </div>
      </form>
    </div>
  </div>
</div>

<nav id="navigation" class="container nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/classique" routerLinkActive="active">Classique</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/tableau" routerLinkActive="active">Tableau</a>
</nav>

<hr id="separator">

<div id="component" class="container">
    <router-outlet></router-outlet>
</div>
