<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Photo</th>
      <th>Pseudo</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let col of collegues">
        <td>
          <a routerLink="/detail/{{col.nom}}">
            <img class="img-responsive" src="{{col.url}}" alt="Card image collegue">
          </a>
        </td>
        <td>{{col.nom}}</td>
        <td>{{col.score}}</td>
        <td>
          <a (click)="jaime(col)" class="btn btn-outline-success">J'aime</a>
          <a (click)="jedeteste(col)" class="btn btn-outline-danger">Je déteste</a>
        </td>
      </tr>
  </tbody>
</table>
