<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Image</th>
      <th>Pseudo</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <div *ngFor="let col of collegues">
      <tr>
        <td><img class="img-responsive" src="{{col.url}}" alt="Card image collegue"></td>
        <td>{{col.nom}}</td>
        <td>{{col.score}}</td>
        <td>
          <a (click)="jaime(col)" class="btn btn-outline-success">J'aime</a>
          <a (click)="jedeteste(col)" class="btn btn-outline-danger">Je déteste</a>
        </td>
      </tr>
    </div>
  </tbody>
</table>
